# Introduction to Scikit-Learn (sklearn)

This notebook demonstrates the most useful function sklearn-library

What are we covering:

0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Choosing the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a model
7. Putting it all together

## Method to ignore Future warnings
`
import warnings
warnings.filterwarnings("ignore") 
"ignore" to "default" change the argument see the warning again
`

## 0. An end-to-end Scikit-Learn workflow

In [1]:
import numpy as np

In [2]:
# 1. Get the data ready
import pandas as pd
heart_disease = pd.read_csv("../data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
# Create X (Feature matrix/variables)
X = heart_disease.drop("target", axis = 1)

# Create Y (labels)
Y = heart_disease["target"]

### Problem Definition : Predicting a person has heart-disease or not. So, it is kind of Classification Problem(Supervised Learning)


### A random forest classifier.

### A random forest is a meta estimator that fits a number of decision tree classifiers on various sub-samples of the dataset and uses averaging to improve the predictive accuracy and control over-fitting. Trees in the forest use the best split strategy, i.e. equivalent to passing splitter="best" to the underlying DecisionTreeRegressor. The sub-sample size is controlled with the max_samples parameter if bootstrap=True (default), otherwise the whole dataset is used to build each tree.

In [4]:
# 2 Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll keep the default hyperparameteres
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

### clf = RandomForestClassifier(n_estimators = 100); by default
### n_estimators = no. of trees in forest

In [5]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

# 80% training 20% test data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.8)

In [6]:
import sklearn
sklearn.show_versions()

System:
    python: 3.10.13 (main, Sep 11 2023, 08:16:02) [Clang 14.0.6 ]
executable: /Users/shubhamkumar/MLProject/env/bin/python
   machine: macOS-14.2.1-arm64-arm-64bit

Python dependencies:
      sklearn: 1.3.0
          pip: 23.3.1
   setuptools: 68.2.2
        numpy: 1.26.2
        scipy: 1.11.4
       Cython: None
       pandas: 2.1.4
   matplotlib: 3.8.0
       joblib: 1.2.0
threadpoolctl: 2.2.0

Built with OpenMP: True

threadpoolctl info:
       filepath: /Users/shubhamkumar/MLProject/env/lib/libopenblasp-r0.3.21.dylib
         prefix: libopenblas
       user_api: blas
   internal_api: openblas
        version: 0.3.21
    num_threads: 8
threading_layer: pthreads
   architecture: armv8

       filepath: /Users/shubhamkumar/MLProject/env/lib/libomp.dylib
         prefix: libomp
       user_api: openmp
   internal_api: openmp
        version: None
    num_threads: 8

In [7]:
clf.fit(X_train, Y_train);

In [8]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
205,52,1,0,128,255,0,1,161,1,0.0,2,1,3
189,41,1,0,110,172,0,0,158,0,0.0,2,0,3
218,65,1,0,135,254,0,0,127,0,2.8,1,1,3
121,59,1,0,138,271,0,0,182,0,0.0,2,0,2
83,52,1,3,152,298,1,1,178,0,1.2,1,0,3
176,60,1,0,117,230,1,1,160,1,1.4,2,2,3
194,60,1,2,140,185,0,0,155,0,3.0,1,0,2
269,56,1,0,130,283,1,0,103,1,1.6,0,0,3
195,59,1,0,170,326,0,0,140,1,3.4,0,0,3
49,53,0,0,138,234,0,0,160,0,0.0,2,0,2
290,61,1,0,148,203,0,1,161,0,0.0,2,1,3
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2
237,60,1,0,140,293,0,0,170,0,1.2,1,2,3
227,35,1,0,120,198,0,1,130,1,1.6,1,0,3
260,66,0,0,178,228,1,1,165,1,1.0,1,2,3
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
287,57,1,1,154,232,0,0,164,0,0.0,2,1,2
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3
31,65,1,0,120,177,0,1,140,0,0.4,2,0,3
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3
95,53,1,0,142,226,0,0,111,1,0.0,2,0,3
230,47,1,2,108,243,0,1,152,0,0.0,2,0,2
282,59,1,2,126,218,1,1,134,0,2.2,1,1,1
116,41,1,2,130,214,0,0,168,0,2.0,1,0,2
249,69,1,2,140,254,0,0,146,0,2.0,1,3,3
27,51,1,2,110,175,0,1,123,0,0.6,2,0,2
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3
122,41,0,2,112,268,0,0,172,1,0.0,2,0,2
97,52,1,0,108,233,1,1,147,0,0.1,2,3,3
37,54,1,2,150,232,0,0,165,0,1.6,2,0,3
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2
117,56,1,3,120,193,0,0,162,0,1.9,1,0,3
91,57,1,0,132,207,0,1,168,1,0.0,2,0,3
184,50,1,0,150,243,0,0,128,0,2.6,1,0,3
125,34,0,1,118,210,0,1,192,0,0.7,2,0,2
265,66,1,0,112,212,0,0,132,1,0.1,2,1,2
120,64,0,0,130,303,0,1,122,0,2.0,1,2,2
159,56,1,1,130,221,0,0,163,0,0.0,2,0,3
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2
36,54,0,2,135,304,1,1,170,0,0.0,2,0,2
209,59,1,0,140,177,0,1,162,1,0.0,2,1,3
165,67,1,0,160,286,0,0,108,1,1.5,1,3,2
180,55,1,0,132,353,0,1,132,1,1.2,1,1,3
80,41,1,2,112,250,0,1,179,0,0.0,2,0,2
223,56,0,0,200,288,1,0,133,1,4.0,0,2,3
55,52,1,1,134,201,0,1,158,0,0.8,2,1,2
74,43,0,2,122,213,0,1,165,0,0.2,1,0,2
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
56,48,1,0,122,222,0,0,186,0,0.0,2,0,2
90,48,1,2,124,255,1,1,175,0,0.0,2,2,2
64,58,1,2,140,211,1,0,165,0,0.0,2,0,2
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2
285,46,1,0,140,311,0,1,120,1,1.8,1,2,3
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2
232,55,1,0,160,289,0,0,145,1,0.8,1,1,3
222,65,1,3,138,282,1,0,174,0,1.4,1,1,2
202,58,1,0,150,270,0,0,111,1,0.8,2,0,3

# make a prediction
y_label = clf.predict(np.array([0, 2, 3, 4]))

In [9]:
Y_preds = clf.predict(X_test)
Y_preds

array([0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0])

In [10]:
Y_test

240    0
71     1
217    0
214    0
26     1
      ..
198    0
251    0
154    1
261    0
79     1
Name: target, Length: 243, dtype: int64

In [11]:
# 4. Evaluate the model
# training data performance
clf.score(X_train, Y_train)

1.0

In [12]:
# test data performance
clf.score(X_test, Y_test)

0.7983539094650206

In [13]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(Y_test, Y_preds))

              precision    recall  f1-score   support

           0       0.75      0.82      0.78       109
           1       0.84      0.78      0.81       134

    accuracy                           0.80       243
   macro avg       0.80      0.80      0.80       243
weighted avg       0.80      0.80      0.80       243

TP = true positive, TN = true negative,
FP = false positive, FP = false negative

Precision = TP/(TP + FP)

Recall = TP/(TP + FN)

F1-Score = 2Ã— ((Precision * Recall) / (Precision + Recall)) 

Accuracy = (TP + TN)/(TP + TN + FP + FN)

Confusion Matrix : ((TN, FP),
                    (FN, TP))

In [14]:
confusion_matrix(Y_test, Y_preds)

array([[ 89,  20],
       [ 29, 105]])

In [15]:
accuracy_score(Y_test, Y_preds)

0.7983539094650206

In [16]:
# 5. Improving Model
# try different type of n_estimators

np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Tryin model with {i} estimators...")
    rfc = RandomForestClassifier(n_estimators = i).fit(X_train, Y_train)
    print(f"Model Accuracy on test set: {rfc.score(X_test, Y_test) * 100:.2f}") 
    print("")

Tryin model with 10 estimators...
Model Accuracy on test set: 76.13

Tryin model with 20 estimators...
Model Accuracy on test set: 76.13

Tryin model with 30 estimators...
Model Accuracy on test set: 81.48

Tryin model with 40 estimators...
Model Accuracy on test set: 75.31

Tryin model with 50 estimators...
Model Accuracy on test set: 75.31

Tryin model with 60 estimators...
Model Accuracy on test set: 78.19

Tryin model with 70 estimators...
Model Accuracy on test set: 75.72

Tryin model with 80 estimators...
Model Accuracy on test set: 75.31

Tryin model with 90 estimators...
Model Accuracy on test set: 75.72

In [17]:
# 6. Save a model and load it
import pickle 

pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [23]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test, Y_test)

0.7983539094650206

## 1. Getting our data ready to be used with machine learning

#### Three main things we have to do:
####    1. Split the data into features and labels (usually `X` and `Y`)
####    2. Filling (aka imputing) or disregarding missing values
####    3. Converting non-numerical to numerical values (aka feature encoding)

In [27]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [29]:
X = heart_disease.drop("target", axis = 1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [30]:
Y = heart_disease["target"]
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [31]:
# Split the data intoo training and test data set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25)

In [32]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((227, 13), (76, 13), (227,), (76,))

In [33]:
X.shape, Y.shape

((303, 13), (303,))

### 1.1 Make sure data is all numerical

In [36]:
car_sales = pd.read_csv("../data/car-sales-extended.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [48]:
car_sales["Doors"].value_counts()

Doors
4    856
5     79
3     65
Name: count, dtype: int64

In [37]:
len(car_sales)

1000

In [41]:
# Split into X/Y
X = car_sales.drop("Price", axis = 1)
Y = car_sales["Price"]

# Split into training and test set
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25)

In [42]:
# Build Machine Learning Model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

# fitting the training data into model
model.fit(X_train, Y_train)

# Model Evaluation with test data
model.score(X_test, Y_test)

ValueError: could not convert string to float: 'Honda'

In [54]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [55]:
# turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot, 
                                   categorical_features)],
                                   remainder="passthrough")
transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [69]:
pd.DataFrame(transformed_X).head(5)

    0    1    2    3    4    5    6    7    8    9    10   11        12
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0

In [70]:
X.head(5)

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [61]:
car_sales["Colour"].value_counts()

Colour
White    407
Blue     321
Black     99
Red       94
Green     79
Name: count, dtype: int64

In [62]:
car_sales["Make"].value_counts()

Make
Toyota    398
Honda     304
Nissan    198
BMW       100
Name: count, dtype: int64

In [63]:
car_sales["Doors"].value_counts()

Doors
4    856
5     79
3     65
Name: count, dtype: int64

0 -> BMW
1 -> Honda
2 -> Nissan
3 -> Toyota
4 -> Black
5 -> Blue
6 -> Green
7 -> Red
8 -> White
9 -> 3 doors
10 -> 4 doors
11 -> 5 doors
12 -> Odometer

In [72]:
dummies = pd.get_dummies(car_sales[["Make", "Colour", "Doors"]])
dummies.head()

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,False,True,False,False,False,False,False,False,True
1,5,True,False,False,False,False,True,False,False,False
2,4,False,True,False,False,False,False,False,False,True
3,4,False,False,False,True,False,False,False,False,True
4,3,False,False,True,False,False,True,False,False,False

In [74]:
# let's refill the data
np.random.seed(42)
X_train, X_test, Y_train, Y_test = train_test_split(transformed_X,
                                                    Y,
                                                    test_size = 0.20)
model.fit(X_train, Y_train)
model.score(X_test, Y_test)

0.3235867221569877

In [75]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3