conda create --prefix ./env pandas numpy matplotlib scikit-learn pandas \
conda activate ./env \
conda install jupyter \
conda deactivate

In [1]:
1 + 1

2

In [2]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

In [3]:
!ls

Untitled.ipynb                     introduction-to-numpy.ipynb
example-notebook1.ipynb            introduction-to-pandas.ipynb
gs_random_forest_model_1.joblib    introduction-to-scikit-learn.ipynb
gs_random_forest_model_1.pkl       random_forest_model_1.pkl
introduction-to-matplotlib.ipynb

Toggle between edit and command mode with Esc and Enter, respectively.
Once in command mode:

    Scroll up and down your cells with your Up and Down keys.
    Press A or B to insert a new cell above or below the active cell.
    M will transform the active cell to a Markdown cell.
    Y will set the active cell to a code cell.
    D + D (D twice) will delete the active cell.
    Z will undo cell deletion.
    Hold Shift and press Up or Down to select multiple cells at once. With multiple cells selected, Shift + M will merge your selection.

In [4]:
data = pd.read_csv("ad_campaign_data.csv")
data.head()

,religion,politics,college_educated,parents,homeowner,gender,age,income,area,true_conversion,predicted_conversion,predicted_probability
0,Unknown,Unknown,1,1,1,Unknown,55-64,Unknown,Unknown,0,0,0.001351
1,Other,Unknown,1,1,1,Unknown,55-64,Unknown,Urban,0,0,0.002238
2,Unknown,Unknown,1,1,1,F,55-64,Unknown,Unknown,0,0,0.002704
3,Unknown,Unknown,1,1,1,F,55-64,Unknown,Unknown,0,0,0.001967
4,Unknown,Unknown,1,1,1,F,55-64,Unknown,Urban,0,0,0.001681

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1443140 entries, 0 to 1443139
Data columns (total 12 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   religion               1443140 non-null  object
 1   politics               1443140 non-null  object
 2   college_educated       1443140 non-null  int64
 3   parents                1443140 non-null  int64
 4   homeowner              1443140 non-null  int64
 5   gender                 1443140 non-null  object
 6   age                    1443140 non-null  object
 7   income                 1443140 non-null  object
 8   area                   1443140 non-null  object
 9   true_conversion        1443140 non-null  int64
 10  predicted_conversion   1443140 non-null  int64
 11  predicted_probability  1443140 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 132.1+ MB

In [15]:
data['religion'].value_counts()

religion
Unknown         993135
Christianity    234861
Other           215144
Name: count, dtype: int64

In [23]:
data.drop(["true_conversion", "predicted_conversion", "predicted_probability"], axis = 1).

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1443140 entries, 0 to 1443139
Data columns (total 9 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   religion          1443140 non-null  object
 1   politics          1443140 non-null  object
 2   college_educated  1443140 non-null  int64
 3   parents           1443140 non-null  int64
 4   homeowner         1443140 non-null  int64
 5   gender            1443140 non-null  object
 6   age               1443140 non-null  object
 7   income            1443140 non-null  object
 8   area              1443140 non-null  object
dtypes: int64(3), object(6)
memory usage: 99.1+ MB